@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Questrial", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: black;
}

.glassmorph {
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px) saturate(180%);
  box-shadow: 0px 0px 7px #9ea4b2;
}

/* Authentication */
@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
